@model List<CourseModel>

<a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="Create">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Code
            </th>
            <th>
               Course Teacher
            </th>
            <th>
               Edit
            </th>
            <th>
               Delete
            </th>
            <th>
              Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>
                    @course.Title
                </td>
                <td>
                    @course.Code
                </td>
                <td>
                    @course.CourseTeacher
                </td>
                <td>
                    <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id"> Edit </a>
                </td>
                <td>
                    <a asp-controller="Course" asp-action="Delete" asp-route-id="@course.Id"> Delete </a>

                </td>
                <td>
                    <a asp-controller="Course" asp-action="Detail" asp-route-id="@course.Id"> Details </a>
                </td>
            </tr>
        }
    </tbody>
</table>



